{% extends 'FRONT/base.html.twig' %}

{% block title %}GameGalaxy
{% endblock %}

{% block body %}
	<body>

		<!-- prealoader start  -->
		<div class="preloader">
			<div class="spinner">
				<div class="dot1"></div>
				<div class="dot2"></div>
			</div>
		</div>
		<!-- prealoader end -->

		<!-- scroll-to-top start -->
		<div class="scroll-to-top">
			<span class="scroll-icon">
				<i class="las la-arrow-up"></i>
			</span>
		</div>
		<!-- scroll-to-top end -->

		<!-- page-wrapper start -->
		<div
			class="page-wrapper">
			<!--  section start -->
			<section class=""></section>
			<!--  section end -->
		</div>
		<!-- page-wrapper end -->

	</body>
{% endblock %}
